---
layout: default
---

<div class="section section-video">
  {% include video.html %}
</div>

<div class="main-sections">

  <div class="main-sections__content">
    <div class="section section-about">
      {% include about.html %}
    </div>

    <div class="section section-gp1">
      {% include gp1.html %}
    </div>
    <div class="section section-gp2">
      {% include gp2.html %}
    </div>
    <div class="section section-gp3">
      {% include gp3.html %}
    </div>
    <div class="section section-gp4">
      {% include gp4.html %}
    </div>

  </div>

</div>
