<img class="down-arrow" src="{{ site.baseurl }}/assets/icons/arrow.svg"/>

<h1>Princeton Private</h1>

<p>Madeleine Cheyette, Ines Franch, Laura Herman,<br/>Natalie Wertz, Jonathan Zong</p>

<p>
  Information about student sexual health options at McCosh Infirmary is hard to find and not discussed openly on campus. Additionally, concerns about health confidentiality breaches to parents, means of insurance payments, and discussing often taboo sexual health topics deter students from accessing resources that would enable them to have happy and healthy lives at Princeton and beyond. Our goal for this project is to provide users with an easy-to-use and informative platform that enables them to access the sexual health information they both need and want in a way that maximizes their comfort and overall experience.
</p>
