<h1>GP4</h1>

<h3>Final prototype</h3>

<div class="main-carousel">
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/gp4-final/01-Home.png"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/gp4-final/02-Ask.png"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/gp4-final/03-Ask-confirmation.png"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/gp4-final/04-Browse-recent.png"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/gp4-final/05-Browse-category.png"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/gp4-final/06-External-resources.png"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/gp4-final/07-About-us.png"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/gp4-final/08-Login.png"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/gp4-final/09-Health-Prof-dashboard.png"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/gp4-final/10-Answer.png"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/gp4-final/11-Answer-confirmation.png"/>
  </div>
</div>
